$font-size-base: 16px;
$brand-primary: #1b93c7;
$nav-link-hover-bg: $brand-primary;

$icon-font-path: "../fonts/bootstrap/";
$fa-font-path: "../fonts";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$header-bg: #2e373c;
$header-link-color: #fff;
$header-height: 53px;
$footer-bg: #2a3744;
$footer-color: #8e8e8e;
$footer-brand-color: #fff;
$footer-height: 140px;
$site-margin-bottom: -$footer-height;
$page-header-bg: #f5f7f8;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    height: 100%;
}

body {
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
}

.site {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto $site-margin-bottom;
}

.site-header {
    background: $header-bg;
    min-height: 40px;
    padding: 10px 0;

    .navbar-collapse.collapsing,
    .navbar-collapse.in {
        margin-top: 10px;
    }

    .active a {
        background: $nav-link-hover-bg;
    }

    .navbar-nav.nav {
        margin-right: 0;

        a {
            color: $header-link-color;
            padding: 5px 25px;
        }
    }

    .navbar-toggle {
        margin: 0;
        padding: 5px;

        .icon-bar {
            background: #428bca;
        }
    }
}

.site-header > .container .site-brand {
    margin-left: 0;
}

.site-brand {
    height: auto;
    padding: 5px 0;
    color: $header-link-color;

    &:focus, &:hover {
        color: $header-link-color;
    }

    h1 {
        margin: 0;
        line-height: 1;
        font-size: 20px;
    }
}

.site-content {
    padding: 20px 0;
}

.view-content {
    margin-top: $header-height;
}

.site-footer {
    height: $footer-height;
    padding-top: 30px;
    padding-bottom: 100px;
    background: $footer-bg;
    color: $footer-color;
    font-size: 14px;
}

.footer-push {
    height: $footer-height;
}

.footer-brand {
    color: $footer-brand-color;
}

.page-header {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: -20px;
    border-bottom: none;
    background: $page-header-bg;
}

.page-header-text {
    color: $header-bg;
}

.page-header-description {
    color: lighten($header-bg, 30%);
    font-size: 18px;
}
