$font-size-base: 16px;
$brand-primary: #1b93c7;
$nav-link-hover-bg: darken($brand-primary, 10%);
$border-radius-base: 0;

$pre-bg: #fcfcfc;
$pre-border-color: #e5e5e5;

$icon-font-path: "../fonts/bootstrap/";
$fa-font-path: "../fonts";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$header-bg: #2e373c;
$header-link-color: #fff;
$header-height: 53px;

$brand-color: #fff;
$brand-strong-color: lighten($brand-primary, 20%);

$footer-bg: #2a3744;
$footer-color: #8e8e8e;
$footer-height: 140px;

$site-margin-bottom: -$footer-height;

$page-header-bg: #f5f7f8;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    height: 100%;
}

body {
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
}

pre code {
    font-size: $font-size-base - 4;
}

.site {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto $site-margin-bottom;
}

.site-header {
    background: $header-bg;
    min-height: 40px;
    padding: 10px 0;
    border: none;

    .navbar-collapse.collapsing,
    .navbar-collapse.in {
        margin-top: 10px;
    }

    .active a {
        background: $nav-link-hover-bg;
    }

    .navbar-nav.nav {
        margin-right: 0;

        a {
            color: $header-link-color;
            padding: 15px 25px;
            margin: -10px 0;
        }
    }

    .navbar-toggle {
        margin: 0;
        padding: 5px;

        .icon-bar {
            background: #428bca;
        }
    }
}

.search-bar {
    margin-left: 25px;
}

.search-bar-input {
    height: 32px;
    margin-right: -15px;
    padding-left: (32px - $font-size-base + 2) / 2;
    padding-right: 30px;
    border: none;
    font-size: $font-size-base - 2;
}

.search-bar-icon {
    position: relative;
    left: -15px;
    opacity: .3;
    pointer-events: none;
}

.site-header > .container .site-brand {
    margin-left: 0;
}

.site-brand {
    height: auto;
    padding: 5px 0;
    color: $brand-color;

    &:focus, &:hover {
        color: $brand-color;
    }

    h1 {
        margin: 0;
        line-height: 1;
        font-weight: bold;
        font-size: 20px;
    }

    strong {
        color: $brand-strong-color;
    }
}

.site-content {
    padding: 20px 0;
}

.view-content {
    margin-top: $header-height;
}

.site-footer {
    height: $footer-height;
    padding-top: 30px;
    padding-bottom: 100px;
    background: $footer-bg;
    color: $footer-color;
    font-size: $font-size-base - 2;
}

.footer-push {
    height: $footer-height;
}

.footer-brand {
    color: $brand-color;
    font-weight: bold;

    strong {
        color: $brand-strong-color;
    }
}

.page-header {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: -20px;
    border-bottom: none;
    background: $page-header-bg;
}

.page-header-text {
    color: $header-bg;
}

.page-header-description {
    color: lighten($header-bg, 30%);
    font-size: $font-size-base + 2;
}
