<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header-text">About</h1>
                <p class="page-header-description">Algoland.NET is a land of algorithms written in C#</p>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 algo-latest">
                <h2>Welcome to Algoland.NET</h2>
                <p><strong>Algoland.NET</strong> is a portal where you'll find popular algorithms explained and implemented in C#.
                When you're preparing for an interview or just studying computer science, you find most code examples written in Java or C++.
                Sometimes you wish to find an implementation in a particular language since build-in class libraries and language constructs differ.</p>
                <p>If you love C# or just looking for an algorithm example written in C#, Algoland.NET is here to help.</p>

                <h2>Contribution</h2>
                <p>Do you like Algoland.NET and want to make it better? Feel free to contribute.</p>
                <p>The project source code is <a href="https://github.com/tabalinas/algoland.net">hosted on GitHub</a>.</p>
                <p>Add your algorithm and make a pull request to the repo. Thank you for contribution!</p>
            </div>
        </div>
    </div>
</div>
