<div class="container">
    <div class="row">
        <div class="col-md-10" class="article">
            <h1 class="article-title">{{ algo.title }}</h1>
            <social-share class="article-sharing"></social-share>
            <div class="article-meta">
                <div class="article-author">
                    <a href="https://github.com/{{ algo.author }}" target="_blank">
                        <img class="article-author-avatar" src="https://avatars.githubusercontent.com/{{ algo.author }}" alt="{{ algo.author }}"
                            /><span class="article-author-name">{{ algo.author }}</span>
                    </a>
                </div>
                <div class="article-publish-date">Published on {{ algo.published | date:'MMMM dd, yyyy' }}</div>
            </div>
            <div marked class="article-content" ng-include="algo.url">
            </div>
            <div class="comments article-comments">
                <dir-disqus disqus-shortname="algolandnet" disqus-identifier="{{ algo.url }}" disqus-url="{{ url }}"></dir-disqus>
            </div>
        </div>
    </div>
</div>
