<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="page-header-text">Algorithms Reference</h1>
                <p class="page-header-description"></p>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="algo-category" ng-repeat="category in catalog">
                    <h4>{{ category.title }}</h4>
                    <p class="algo-category-description">{{ category.description }}</p>
                    <ul class="algo-list">
                       <li class="algo-list-item" ng-repeat="algo in category.algos">
                           <a href="/algo/{{ algo.name }}">{{ algo.title }}</a>
                           <p class="algo-list-item-description">{{ algo.description }}</p>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
