<div class="container">
    <div class="row">
        <div class="col-md-10" class="article">
            <h1 class="article-title">{{ algo.title }}</h1>
            <div class="article-meta">
                Published <span class="article-published-date">{{ algo.published | date:'MMMM dd, yyyy' }}</span> by
                <a class="article-author-link" href="https://github.com/{{ algo.author }}" target="_blank">
                    <i class="article-author-icon fa fa-github"></i><span class="article-author-name">{{ algo.author }}</span>
                </a>
            </div>
            <social-share class="article-sharing"></social-share>
            <div marked class="article-content" ng-include="algo.url">
            </div>
            <div class="comments article-comments">
                <dir-disqus disqus-shortname="algolandnet" disqus-identifier="{{ algo.url }}" disqus-url="{{ url }}"></dir-disqus>
            </div>
        </div>
    </div>
</div>
