<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="page-header-text">Algorithms</h1>
                <p class="page-header-description">The categorized algorithms list</p>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="category" ng-repeat="category in catalog">
                    <h3 class="category-title"><i class="fa fa-sitemap category-icon"></i>{{ category.title }}</h3>
                    <p class="category-description">{{ category.description }}</p>
                    <div class="category-algo-list">
                        <al-algo algo="algo" show-category="false" ng-repeat="algo in category.algos">
                        </al-algo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
