<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="page-header-text">Learn popular algorithms written in C#</h1>
                <p class="page-header-description">Whether you are preparing for a coding interview or making a homework on computer science or just learning algorithms, the <strong>Algoland</strong> is here to help. You will find many algorithms explained and implemented in C#.</p>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 algo-latest">
                <al-algo ng-repeat="algo in latestAlgos">
                </al-algo>
            </div>
        </div>
    </div>
</div>
