<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="page-header-text">Search Results</h1>
                <p class="page-header-description">Searching for <strong>{{ searchQuery }}</strong></p>
                <p class="page-header-description">Amount of found algorithms <strong>{{ algos.length }}</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="algo-search-result">
                    <div ng-if="!algos.length">
                        No algorithm found for your request.
                    </div>
                    <div ng-if="algos.length" class="search-algo-list">
                        <al-algo algo="algo" show-published="false" ng-repeat="algo in algos">
                        </al-algo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
