<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p><span class="footer-brand">Algoland<strong>.NET</strong></span> - Popular algorithms in C# </p>
            </div>
            <div class="col-sm-6">
                <p class="pull-right">
                    <a href="https://twitter.com/{{ footer.twitter }}"><i class="fa fa-twitter"></i>@{{ footer.twitter }}</a> &nbsp;
                    <a href="https://github.com/{{ footer.github }}/"><i class="fa fa-github"></i> {{ footer.github }}</a> &nbsp;
                </p>
            </div>
        </div>
    </div>
</div>
